# See http://microchipdeveloper.com/faq:72

/firmware/HarmonyNixieTracker.X/build/default/
/firmware/HarmonyNixieTracker.X/dist/default/

# Makefiles auto-generators
/firmware/HarmonyNixieTracker.X/nbproject/Makefile-*
/firmware/HarmonyNixieTracker.X/nbproject/Package-*
